# Virtual Environments
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc

# Local environment variables
.env

# Database file (if using SQLite locally)
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db